// colours
$color-primary: #465b87;
$color-primary-light: #465b87;
$color-primary-dark: #233b6e;

$color-secondary-light: #905a64;
$color-secondary-dark: #76323f;

$color-tertiary-light: #ff9346;
$color-tertiary-dark: #e69f6d;

$color-grey-light-1: #eff0f4;

$color-grey-dark: #4A4A4A;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-white: #fff;
$color-black: #000;
$color-border: #eee;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

// UI flourishes
$default-shadow: 0 1.5rem 4rem rgba($color-black, .15);